@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
}

html {
  font-family: var(--font-sans);
}

body {
  @apply text-gray-900 antialiased;
  background-color: #FFFEFA;
}
